# File oggetto compilati
*.o

# File eseguibili
*.elf

# File temporanei dell'editor
*~
*.swp

# Cartelle di build
/build/
/bin/
/obj/

# File di log
*.log

# File di backup o temporanei
*.bak
*.tmp

